rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to the players collection for now.
    // In a production app, you should lock this down to only allow
    // users to edit their own documents.
    match /players/{playerId} {
      allow read, write: if true; 
    }
  }
}
